* {
	box-sizing: border-box;
}

:root {
	--primary-color: #ffb900;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Common */
a {
	text-decoration: none;
}

.main-content {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.btn {
	color: #fff;
	padding: 17px 39px;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 999px;
	background: var(--primary-color);
	display: inline-block;
}

.heading {
	color: #171100;
	font-family: Sen;
	font-weight: 700;
	letter-spacing: -1.16px;
}

.heading.lv1 {
	font-size: 5.8rem;
	line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
	font-size: 3.8rem;
	line-height: 1.26;
}

.heading.lv3 {
	color: #171100;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.desc {
	margin: 22px 0 38px 0;
	color: #5f5b53;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 1);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/********************* HEADER ********************/
.header {
	background: #fffcf4;
}

.header.fixed {
	position: sticky;
	top: -28px;
	z-index: 1;
}

.header .body {
	padding: 36px 0 8px;
	display: flex;
	align-items: center;
}

.navbar {
	margin-left: auto;
}

.navbar ul {
	display: flex;
}

.navbar li.active {
	position: relative;
}

.navbar li.active::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 15%;
	height: 2px;
	background: #171100;
	display: inline-block;
}

.navbar a {
	margin-right: 42px;
	color: #5f5b53;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
	padding: 8px 0;
}

.navbar li.active a,
.navbar a:hover {
	color: #171100;
	text-shadow: 1px 0 0 currentColor;
}

.navbar li:last-child {
	margin-right: 70px;
}

.header .action .btn {
	padding: 17px 43px;
	background: #171100;
}

.header .action .btn:hover {
	color: #fff;
	background: var(--primary-color);
}

/********************* HERO ********************/
.hero {
	padding: 64px 0;
	background: #fffcf4;
}

.hero .body {
	display: flex;
}

/* Hero Left */
.hero .media-block {
	width: 48%;
	position: relative;
}

.hero .media-img {
	width: 470px;
	height: 685px;
	object-fit: cover;
	border-radius: 20px;
	display: inline-block;
	vertical-align: bottom;
}

.hero .summary {
	position: absolute;
	right: 0;
	bottom: 48px;
	padding: 24px 58px 24px 24px;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .summary .item {
	display: flex;
	align-items: center;
}

.hero .summary .item:nth-child(2) {
	margin: 22px 0;
}

.hero .summary .icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff9e8;
}

.hero .summary .item:nth-child(2) .icon {
	background: #fcefff;
}

.hero .summary .item:nth-child(3) .icon {
	background: #ebeaff;
}

.hero .summary .info {
	margin-left: 16px;
}

.hero .summary .label {
	color: #5f5b53;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.85; /* 185.714% */
}

.hero .summary .title {
	color: #171100;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

/* Hero Right */
.hero .content-block {
	width: 52%;
	padding: 64px 0 0 130px;
}

.hero .action-group {
	display: flex;
	align-items: center;
}

.hero .action-group .btn {
	padding: 24px 40px;
	margin-right: 28px;
}

.hero .action-group .watch-video {
	display: flex;
	align-items: center;
	gap: 14px;
	border: none;
	background: transparent;
}

.hero .action-group .icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero .action-group span {
	color: #171100;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.hero .content-block .caption {
	margin-top: 48px;
	color: #5f5b53;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
}

.hero .content-block .caption.quantity {
	margin-top: 8px;
}

.hero .quantity strong {
	padding: 0 8px 0 28px;
	color: #171100;
	font-family: Sen;
	font-size: 4.4rem;
	font-weight: 700;
	line-height: 1.22;
}

.hero .quantity strong:first-child {
	margin-left: -28px;
}

/********************* POPULAR ********************/
.popular {
	padding: 65px 0;
	margin-top: 135px;
}

.popular-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular .desc {
	width: 450px;
}

.popular .control {
	display: flex;
	gap: 18px;
}

.popular .control-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	width: 40px;
	height: 40px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid var(--primary-color);
}

.popular .control-btn:hover {
	color: #fff;
	background: var(--primary-color);
	cursor: pointer;
	transition: all 0.25s;
}

.popular .course-list {
	margin-top: 33px;
	display: flex;
	gap: 30px;
}

.popular .course-item {
	flex: 1;
	border-radius: 12px;
	background: #fff;
	border: 1px solid #e2dfda;
}

.popular .course-item:hover {
	box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
	border-color: transparent;
	transition: all 0.25s;
}

.popular .course-item .thumb {
	width: calc(100% + 2px);
	height: 278px;
	object-fit: cover;
	border-radius: 12px 12px 0px 0px;
	margin: -1px;
}

.popular .course-item .info {
	padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating {
	display: flex;
	align-items: center;
}

.popular .course-item .rating span {
	margin-left: 4px;
	color: #fea31b;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}

.popular .course-item .head {
	justify-content: space-between;
}

.popular .course-item .heading {
	padding-right: 6px;
}

.popular .course-item .caption {
	margin-top: 6px;
	color: #5f5b53;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.85; /* 185.714% */
}

.popular .course-item .foot {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular .course-item .cost {
	color: #171100;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.popular .course-item .btn {
	background: #171100;
	padding: 17px 24px;
}

.popular .course-item .btn:hover {
	background: var(--primary-color);
}
